@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

#header{
    background-color: #15161D;
    border-bottom: 2px red solid;
}

.menu{
    display: flex;
    margin-bottom: 0;
}

.menu li{
    margin-right: 15px;
}

.menu li a{
    color: #15161D;
}

#navigation{
    padding: 20px 0px;
    border-bottom:1px gray solid;
}

.menu li a:hover{
    color: red;
    text-decoration: underline;
}

.sale-section {
    display: flex;
    padding: 50px 0px;
    justify-content: space-between;
}

.sale-section__product{
    position: relative;
    max-width: 315px;
    max-height: 250px;
    overflow: hidden;
}

.sale-section__product::after {
    content: "";
    top: 0px;
    left: 0px;
    bottom: 0px;
    position: absolute;
    background-color: rgba(209, 0, 36, .9);
    transform: skewX(-45deg) translateX(-40%);
    width: 100%;
}

.sale-section__image {
    width: 100%;
    height: 100%;
    z-index: -1;
}

.sale-section__image img{
    width: 100%;
    height: 100%;
    background-color: #E4E7ED;
    object-fit: cover;
}

.sale-section-description{
    position: absolute;
    top: 30px;
    left: 40px;
    color: #fff;
    z-index: 10;
}
.sale-section-description a{
    color: #fff
}

.sale-section__title{
    font-size: 30px;
    margin-bottom: 18px;
}
.sale-section__product:hover .sale-section__image>img{
    transform: scale(1.1);
}

.btn-pill {
  border-radius: 25px !important;
}

.card-span{
    background-color: red;
    color: #ffffff;
    padding: 2px 5px;
    border: 1px red solid;
    width: 60px;
    text-align:center;
    position: absolute;
    right:10px;
    top: 10px;
    font-size: 12px;
}

.card-span2{
    background-color: white;
    color: red;
    padding: 2px 5px;
    border: 1px red solid;
    width: 60px;
    text-align:center;
    position: absolute;
    right: 80px;
    top: 10px;
    font-size: 12px;
}

.card-category{
    color:grey;
    font-size: 13px;
}

.card-product-name{
    font-weight:bold;
    font-size: 15px;
    color: #15161D;
}

.card-product-price{
    color: red;
    font-weight: bold;
}
.card-product-price del{
    color: grey;
    font-size: 13px;
    font-weight: normal;
}

.fa-star{
    color: red;
}

.content-icons a{
    color:#15161D;
}

.card-footer{
    display:none;
}

.card-footer:hover{
    display:block;
}

.card:hover + .card-footer{
    display: block;
}

.card:hover{
    border-color: red;
}

.bg-image{
  background-image: url(../images/hotdeal.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #E4E7ED;
}
.circle{
  color: white;
  width: 100px;
  height: 100px;
  background-color: red;
  border-radius: 50%;
  display: flex;
  margin: 1px;
  flex-direction: column;
  justify-content: center;
}
.title{
  font-weight: 600;
}

.btn-danger{
  background-color: red !important;
}

.product-image{
  width: 60px;
}

.form-email{
    border-top: 2px solid #E4E7ED;
    border-bottom: 2px solid red;
}
.email {
    border-radius: 40px 0px 0px 40px !important;
}
.btn-send{
    border-radius: 0px 40px 40px 0px !important;
    color: white;
}
.media {
    display: inline-block;
}
.media>i{
    display: block;
    width: 40px;
    height: 40px;
    border: 1px solid #E4E7ED;
    text-align: center;
    line-height: 40px;
}
.media>i:hover{
    color: red;
    background-color: #E4E7ED;
}

footer{
  color: white;
  background-color: black;
}
.footer-title{
  font-weight: 600;
}
.about-icon{
  color: red;
}